@font-face {
    font-family: 'Gilroy';          
    src: url("../fonts/gilroylight.woff");
    src: url("../fonts/gilroylight.woff2");
    font-weight: 300;             
    font-style: normal;
}
  
@font-face {
    
    font-family: 'Gilroy';          
    src: url("../fonts/gilroyextrabold.woff");
    src: url("../fonts/gilroyextrabold.woff2");
    font-weight: 800;              
    font-style: normal;
}

@font-face {
    font-family: 'Opensans';          
    src: url("../fonts/opensanslight.woff");
    src: url("../fonts/opensanslight.woff2");
    font-weight: 300;              
    font-style: normal;
}

@font-face {
    font-family: 'Opensans';          
    src: url("../fonts/opensans.woff");
    src: url("../fonts/opensans.woff2");
    font-weight: 400;              
    font-style: normal;
}

*:focus{
    outline: 1px dotted #000;
}
  
body{
    margin: 0;
    padding: 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;

    color: #000;

    background-color: #fff;
}


fieldset{
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    -webkit-padding-before: 0;
            padding-block-start: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-padding-end: 0;
            padding-inline-end: 0;
    -webkit-padding-after: 0;
            padding-block-end: 0;
}

a{
    text-decoration: none;
    color: #000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header{
    min-height: 180px;
    padding: 0;
    margin: 0;
}

.main-navigation{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    width: 1160px;

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    padding: 30px 60px 0 60px;

    background-color: #f7e296;

    position: relative;

}

.main-logo{
    font-size: 48px;
    line-height: 48px;

    color: #000;
}

.main-logo:hover,
.main-logo:focus{
    opacity: 0.6;
    outline: none;
}

.main-logo:active{
    opacity: 0.3;
}

.header-logo{
    position: absolute;
    left: 57px;
    top: -24px;
}

.user-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}

input[type="search"]::-webkit-input-placeholder{
    color: #000;
    opacity: 0.3;
} 

input[type="search"]:-moz-placeholder{
    color: #000;
    opacity: 0.3;
}

input[type="search"]:hover::-webkit-input-placeholder{
    opacity: 0.6;
} 

input[type="search"]:hover::-moz-placeholder{
    opacity: 0.6;
}

.main-search-form{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 440px;
    height: 50px;
    padding-left: 40px;
    border-bottom: 2px solid #f7e296;
}

.main-search-form input{
    width: 300px;
    border: none;
}

.main-search-form input:focus,
.main-search-form input:active{
    outline: none;
}

.main-search-form input,
.main-search-form input[placeholder],
.search-btn{
    font-family: "Opensans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    background-color: #f7e296;
    color: #000;
}

.search-btn{
    display: none;
    padding: 9px 20px 11px 20px;
    border: 2px solid #000;
    border-bottom: none;
}

.search-btn:hover{
    color: #fff;
    background-color: #000;
}

.search-btn:active{
    color: #4d4d4d;
}

.main-search-form:active,
.main-search-form:focus-within{
    border-bottom: 2px solid #000;
}

.main-search-form:active .search-btn,
.main-search-form:focus-within .search-btn{
    display: block;
}

.main-search-form::before{
    content: "";

    position: absolute;
    top: 18px;
    left: 3px;

    width: 16px;
    height: 16px;

    background-image: url("../img/search.svg");
}


.login-navigation-list,
.customer-navigation-list{
    list-style: none;
    margin: 0;
    padding: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    
    font-family: "Opensans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.login-navigation-list{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    min-width: 70px;
    max-width: 260px;
    padding: 0 36px 0 28px;
    margin-left: 100px;

    position: relative;
}

.login-navigation-list::before{
    content:"";
    background-image: url("../img/user.svg");
    width: 13px;
    height: 12px;
    
    position: absolute;
    left: 2px;
    top: 9px;

    background-repeat: no-repeat;
}

.user-name{
    margin-right: 20px;
}

/* .user-name-footer{

} */

.user-name-guest{
    display: none;
}

.login-navigation-list:hover,
.login-navigation-list a:focus,
.customer-action-item:hover,
.customer-action-item a:focus{
    opacity: 0.6;
    outline: none;
}

.login-navigation-list:active,
.customer-action-item:active{
    opacity: 0.3;
}

.user-action-customer{
    opacity: 0.3;
}

.compare-link,
.cart-link{
    position: relative;
}

.compare-link::before{
    content: "";

    position: absolute;
    top: 6px;
    left: -20px;

    width: 10px;
    height: 10px;

    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
}

.cart-link::before{
    content: "";

    position: absolute;
    top: 4px;
    left: -22px;

    width: 12px;
    height: 12px;

    background-image: url("../img/cart.svg");
}


.customer-navigation-list{
    width: 220px;
    margin-left: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
 }



.customer-action-item{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 30px;
}

.seller-info-list{
    list-style: none;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1045px;
    margin: 0;
    padding: 4px 0 0 0;


    display: -webkit-box;


    display: -ms-flexbox;


    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.seller-info-item .seller-info-header,
.footer-seller-info{
    color: #000;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}

/* .seller-info-header{
    color: #000;
} */

.seller-info-item a:hover,
.seller-info-item a:focus,
.products-group-item a:hover,
.products-group-item a:focus{
    opacity: 0.6;
    outline: none;
}

.seller-info-item a:active,
.products-group-item a:active{
    opacity: 0.3;
    outline: none;
}

.seller-info-item-delivery{
    margin-right: 40px;
}

.seller-info-item-contacts{
    width: 120px;
    margin-left: 110px;
}

.seller-info-item-catalog{
    width: 250px;
    margin-right: 290px;
    padding-bottom: 48px;
    position: relative;
}

.seller-info-item-catalog::after{
    content: "";

    position: absolute;
    top: 3px;
    right: 11px;

    width: 16px;
    height: 16px;

    background-image: url("../img/plus.svg");
    opacity: 0.3;
}

.main-products-category-navigation{
    display: none;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 1160px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #f7e296;
    position: absolute;
    top: 50px;
    left: -60px;
    z-index: 3;
}

.seller-info-item-catalog:hover .main-products-category-navigation{
    display: block;
}


.products-category-list{
    /* width: 550px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.products-category-item{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 160px;
    margin-right: 40px;
    margin-bottom: 35px;
}

.products-category-list,
.products-group-list{
    list-style: none;
    margin: 0;
    margin-right: 60px;
    padding: 0;
}

.products-group-item a{
    font-family: "Opensans","Arial",sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
}

.bg-block{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}

.bg-block-yellow{
    background-color: #f7e296;
    height: 120px;
    width: 1160px;
}

.bg-block-gray{
    background-color: #e5e5e5;
    height: 290px;
    width: 100%;
    top: 100px;
}

.white-line{
    margin-left: 600px;
    margin-top: 47px; 
    width: 100px;
    height: 7px;

    background-color: #fff;
}

/* SLIDER================================ */
.promo-slider{
    position: relative;
    height: 500px;
    width: 1160px;
    margin: 0 auto;
}

.slides-list{
    list-style: none;

    -webkit-margin-before: 0;

            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
}

.promo-slider-controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    position: absolute;
    right: 75px;
    bottom: 151px;
    z-index: 1;

    min-width: 100px;
    height: 12px;

    font-size: 0;
}

.promo-slider-controls label{
    width: 12px;
    height: 12px;
    margin-right: 21px;

    line-height: 12px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;

    position: relative;
}

#slide-1:checked ~ .slides-list .slides-item:nth-child(1),
#slide-2:checked ~ .slides-list .slides-item:nth-child(2),
#slide-3:checked ~ .slides-list .slides-item:nth-child(3){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#slide-1:checked ~ .promo-slider-controls label[for="slide-1"]::before,
#slide-2:checked ~ .promo-slider-controls label[for="slide-2"]::before,
#slide-3:checked ~ .promo-slider-controls label[for="slide-3"]::before{
  content: "";

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  height: 6px;
  width: 6px;

  border: 1px solid #000;
  border-radius: 50%;

  position:absolute;
  top: 2px;
  left: 2px;
}

.slides-item{
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;

    display: none;
}

.slide-image{
    width: 600px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    padding-top: 11px;
    padding-left: 80px;
    padding-right: 120px;
}

.slide-image-wide{
    padding-top: 75px;
    padding-left: 30px;
    padding-right: 40px;
}

.slide-text{
    position: relative;
}

.slide-number{
    position: absolute;
    top: -4px;
    right: 50px;
    z-index: -1;

    display: inline-block;

    color: #fff;
    font-size: 179.2px;
    line-height: 179.2px;
}

.slide-header{
    font-size: 47px;
    line-height: 56px;

    -webkit-margin-before: 88px;

            margin-block-start: 88px;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}

.slide-description{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;    
    margin-right: 80px;

    font-family: "Opensans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;

    margin-bottom: 45px;
}

/* SLIDER================================== */

/* btn */
.btn{
    display: block;
    width: 200px;
    height: 40px;

    text-align: center;
    font-size: 18px;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 5px;

    background-image: url("../img/yellow-line.png");
    background-position-y: center;
    background-repeat: repeat-x;
}

.filter button[type="submit"],
.feedback-form button[type="submit"]{
    display: block;
    width: 200px;
    height: 40px;

    text-align: center;
    font-size: 18px;
    line-height: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;

    background-color: transparent;
    background-image: url("../img/yellow-line.png");
    background-position-y: center;
    background-repeat: repeat-x;
    
    border: none;
}

.more-btn{
    width: 220px;
}

.filter button[type="submit"]:hover,
.filter button[type="submit"]:focus,
.feedback-form button[type="submit"]:hover,
.feedback-form button[type="submit"]:focus,
.btn:hover,
.btn:focus{
    background-color: #f0c52e;
    outline: none;
}

.btn:active{
    color: #a88a20;
}

.seller-services-toggle{
    width: 160px;
    margin-right: 120px;

    cursor: pointer;
}


#delivery:checked ~ .seller-services-list .seller-sevices-item label[for="delivery"],
#warranty:checked ~ .seller-services-list .seller-sevices-item label[for="warranty"],
#credit:checked ~ .seller-services-list .seller-sevices-item label[for="credit"]{
    background-image: none;
    background-color: #000;
    color: #f7e184;

    position: relative;
}

#delivery:checked ~ .seller-services-list .seller-sevices-item label[for="delivery"]::after,
#warranty:checked ~ .seller-services-list .seller-sevices-item label[for="warranty"]::after,
#credit:checked ~ .seller-services-list .seller-sevices-item label[for="credit"]::after{

    content: "";

    position: absolute;

    top: 0;
    right: -122px;

    width: 122px;
    height: 40px;

    background-color: #000;
}

.company-information-btn{
    width: 260px;
}

/* btn */

.slide-features-table{
    margin-top: 55px;
}

.slide-features-table td{
    padding-right: 66px;
}

.slide-features-table .feature-data-record{
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
}

.slide-features-table .feature-data-attribute{
    font-family: "Opensans", Arial, sans-serif;

    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.products-catalog{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    min-height: 240px;
    margin: 105px auto 85px auto;
    padding: 0 20px;
}

.catalog-groups-list{
    list-style: none;
    margin: 0;
    padding: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.catalog-groups-item{
    margin: 0;
    padding: 0;
}

.catalog-groups-item a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}

.catalog-groups-item a:hover .category-item-image,
.catalog-groups-item a:focus .category-item-image{
    background-color: #f0c52e;
}

.catalog-groups-item a:focus{
    outline: none;
}

.catalog-groups-item a:active .category-item-image img,
.catalog-groups-item a:active .category-item-title{
    opacity: 0.3;
}

.catalog-groups-item .category-item-title{
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 160px;

    font-size: 18px;
    line-height: 24px;

    margin: 0;
    padding: 0;
}

.catalog-groups-item .category-item-image{
    background-color: #f7e296;
    width: 160px;
    height: 160px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;

    -webkit-margin-before: 0;

            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    margin-top: 0;
    margin-bottom: 35px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.monopod-image{
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.services{
    position: relative;
    /* z-index: -2; */

    /* background-color: #e5e5e5; */
}

.seller-services-list{
    position: relative;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    padding-top: 80px;
    padding-bottom: 70px;
    margin-bottom: 45px;
}

.seller-sevices-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 25px;
    width: 280px;
    margin-right: 120px;
}

.seller-services-slide{
    width: 715px;
    display: none;

    position: absolute;
    left: 400px;
    top: 60px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

#delivery:checked ~ .seller-services-list .seller-sevices-item:nth-child(1) .seller-services-slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#warranty:checked ~ .seller-services-list .seller-sevices-item:nth-child(2) .seller-services-slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#credit:checked ~ .seller-services-list .seller-sevices-item:nth-child(3) .seller-services-slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.seller-services-info{
    width: 460px;
}

.seller-services-header{
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;

    font-size: 47px;
    line-height: 48px;

    padding-top: 13px;
    margin-bottom: 35px;
}

.seller-services-text{
    font-family: "Opensans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.delivery-icon{
    padding-top: 25px;
    padding-right: 25px;
}

.divided-block{
    margin-bottom: 70px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    padding: 0 20px;
    width: 1200px;
    margin: 0 auto;

    background-image: url("../img/vertical-line-black.png");
    background-position: 300px 0;
    background-repeat: repeat-y;   
}

.brands-we-sell{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin: 150px auto 0 auto;
    padding: 0 20px;
}

.brands-list{
    list-style: none;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;

    min-height: 100px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.brands-item div{
    width: 260px;
    height: 100px;

    opacity: 0.2;
    background-position: 0 0;
}

.brands-item div:hover,
.brands-item div:focus{
    opacity: 1;
    outline: none;
}

.brands-item .brand-spgadgets{
    background-image: url("../img/logo-spgadgets-uncolored.png");
}

.brands-item .brand-dji{
    background-image: url("../img/logo-dji-uncolored.png");
}

.brands-item .brand-gopro{
    background-image: url("../img/logo-gopro-uncolored.png");
}

.brands-item .brand-vive{
    background-image: url("../img/logo-vive-uncolored.png");
}


.brands-item .brand-spgadgets:hover,
.brands-item .brand-spgadgets:focus{
    background-image: url("../img/logo-spgadgets-colored.png");
}

.brands-item .brand-dji:hover,
.brands-item .brand-dji:focus{
    background-image: url("../img/logo-dji-colored.png");
}

.brands-item .brand-gopro:hover,
.brands-item .brand-gopro:focus{
    background-image: url("../img/logo-gopro-colored.png");
}

.brands-item .brand-vive:hover,
.brands-item .brand-vive:focus{
    background-image: url("../img/logo-vive-uncolored.png");
}

.company-information{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin: 90px auto 0 auto;
    padding: 0 20px;
    margin-bottom: 85px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.company-information-header{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 90px;
    padding-top: 45px;

    -webkit-margin-before: 0;

            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    margin-bottom: 40px;

    font-size: 47px;
    line-height: 48px;

    position: relative;
}

.company-information-header::before{
    content: "";

    height: 7px;
    width: 80px;

    background-color: #000;

    position: absolute;
    top: 0;
    left: 0;
}

.company-information-text{
    font-family: "Opensans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;

    -webkit-margin-before: 0;

            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;

    margin-bottom: 38px;
}

.about-left-column{
    width: 475px;
}

.about-right-column{
    width: 560px;
}

.delivery-partners-list{
    list-style: none;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    margin-top: 60px;
    margin-bottom: 50px;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
}

.delivery-partners-item{
    padding-left: 35px;
    /* margin-bottom: 8px; */

    font-size: 16px;
    line-height: 40px; 

    position: relative;
}

.delivery-partners-item::before{
    content: "";

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    height: 8px;
    width: 8px;

    border: 2px solid #e5e5e5;
    border-radius: 50%;

    position: absolute;
    top: 17px;
    left: 2px;
}

.about-right-column .location-map{
    margin-top: 45px;
    margin-bottom: 55px;
}

.location-map{
    cursor: pointer;
}

.center-block{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    padding: 0 20px 0 80px;
    margin: 0 auto;
}

.inner-page-header{
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    
    margin-top: 40px;
    font-size: 47px;
    line-height: 48px;
}

.breadcrumbs-list{
    list-style: none;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;

    margin-top: 30px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
}

.breadcrumbs-list li{
    margin-right: 40px;
    position: relative;
}

.breadcrumbs-list li:not(:first-child)::before {
    content: "";

    position: absolute;
    top: 10px;
    left: -20px;

    width: 4px;
    height: 7px;

    background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs-current{
    cursor: default;
}

.breadcrumbs-list li a,
.breadcrumbs-current{
    font-family: "Opensans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;

    opacity: 0.3;
}

.breadcrumbs-list li a:hover{
    opacity: 0.6;
}

.breadcrumbs-list li a:active{
    opacity: 0.1;
}

.gray-block{
    background-color: #eee;
}


.filter-header{
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;

    font-size: 16px;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 4px;
    height: 70px;

    position: relative;
}

.inner-columner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filter-header-block{
    width: 270px;
    background-color: #dbdbdb;
}

.filter-header-block::before{
    content: "";

    position: absolute;
    top: 0;
    left: -2000px;

    height: 70px;
    width: 2000px;

    background-color: #dbdbdb;
}

.filters{
    width: 270px;
}

.filter fieldset{
    border: none;
}

/* range========================== */


.filter-price-range legend,
.filter-colour legend,
.filter-bluetooth-option legend{
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-padding-end: 0;
            padding-inline-end: 0;

    margin-bottom: 34px;
}

.filter-colour legend,
.filter-bluetooth-option legend{
    margin-bottom: 18px;
    padding-top: 15px;
}

.price-ranger{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 200px;
    height: 148px;

    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

    margin-top:  70px;
    padding-top: 15px;

    position: relative;
}

.price-range-scale{
    height: 2px;
    width: 200px;

    margin-bottom: 14px;

    background-color: #dbdbdb;
}

.price-range-scale .price-range-bar{
    width: 110px;
    height: 2px;

    background-color: #91c92f;
}

.price-range-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: space-between; */
    width: 200px;
}

.price-range-text label{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    color: #bebebe;
}

.price-range-text label input{
    border: none;
    padding: 0;
    background-color: transparent;
    opacity: 0.5;
    margin-left: 4px;
}

.price-range-text label,
.price-range-text label input{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

.toggle{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 20px;
    height: 20px;

    border: 8px solid #fff;
    border-radius: 50%;

    background-color: #ababab;

    position: absolute;

    -webkit-box-shadow: 0 2px 0 0 #dadada;

            box-shadow: 0 2px 0 0 #dadada;
}

.toggle:active{
    width: 22px;
    height: 22px;

    border: 8.5px solid #fff;
}

.toggle-min{
    top: 63px;
    left: -11;
}

.toggle-max{
    top: 63px;
    left: 109px;
}


/* range================================ */

.sorting-options-wrapper{
    background-color: #eee;
}

.sorting-options{
    width: 760px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 72px;
    margin-right: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sorting-options-list{
    width: 290px;
}

.sorting-directions-list{
    width: 40px;
}

.sorting-options-list,
.sorting-directions-list{
    list-style: none;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sorting-options-item,
.sorting-directions-item{
    font-family: "Opensans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}

.sorting-options-item{
    opacity: 0.3;
}

.sorting-options-item-current{
    opacity: 1;
}

.sorting-directions-item{
    opacity: 0.2;
}

.sorting-directions-item-current{
    opacity: 1;
}

.white-bg-block{
    background-color: #fff;
    position: relative;
    z-index: 2;

    width: 830px;
    padding: 20px 20px 80px 30px;
}


.white-bg-block::before{
    content: "";
    height: 100%;
    width: 50vw;
    position: absolute;
    top: 0;
    left: 237px;
    background-color: #fff;
    z-index: 0;
}

.catalog-list{
    list-style: none;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
}

.filter-colour-list{
    border-bottom: 2px solid #000;
}

.filter-colour-list,
.filter-bluetooth-options-list{
    list-style: none;

    width: 200px;

    -webkit-margin-before: 0;

            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;

    padding-bottom: 40px;
    
}

.label-checkbox,
.label-radio{
    margin-left: 40px;

    font-family: "Opensans", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;

    position: relative;
}

.label-checkbox input[type="checkbox"] + .checkbox-indicator{
    position: absolute;
    top: -2px;
    left: -35px;

    height: 23px;
    width: 26px;

    background: url("../img/checkbox-off.svg") no-repeat;
}

.label-checkbox input[type="checkbox"]:checked + .checkbox-indicator{
    background: url("../img/checkbox-on.svg") no-repeat;
}

.label-radio input[type="radio"] + .radio-indicator{
    /* content: ""; */

    position: absolute;
    top: -2.5px;
    left: -35px;

    height: 25px;
    width: 25px;

    background: url("../img/radio-off.svg") no-repeat;
}

.label-radio input[type="radio"]:checked + .radio-indicator{
    background: url("../img/radio-on.svg") no-repeat;
}

.checkbox-indicator:hover,
.radio-indicator:hover,
.checkbox-indicator:focus,
.radio-indicator:focus{
    opacity: 0.6;
    outline: none;
}

.label-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator,
.label-checkbox input[type="checkbox"]:disabled + .checkbox-indicator,
.label-radio input[type="radio"]:checked:disabled + .radio-indicator,
.label-radio input[type="radio"]:disabled + .radio-indicator{
    opacity: 0.25;
}

.catalog-list{
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.catalog-item{
    margin-top: 50px;
    margin-left: 40px;

    position: relative;
}

.catalog-item-new::after{
    content: "new";

    font-size: 14px;
    line-height: 60px;
    text-align: center;
    color: #bfbfbf;
    text-transform: uppercase;
    letter-spacing: 1px;

    position: absolute;
    top: 30px;
    right: 30px;

    width: 60px;
    height: 60px;

    background-image: url("../img/new-label.png");
}

.catalog-item-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin-top: 35px;
}

.catalog-item-title{
    width: 260px;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}

.catalog-item-price{
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;

    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.catalog-item-action{
    position: absolute;
    top: 0;
    left: 0;

    height: 380px;
    width: 360px;

    display: none;
}

.catalog-item:hover .catalog-item-action{
    display: block;
}

.gray-bg{
    position: absolute;
    top: 0;
    left: 0;
    
    height: 380px;
    width: 360px;

    background-color: #eee;

    opacity: 0.7;
    z-index: 0;
}

.catalog-item-buttons-block{
    margin: 170px 80px 0 80px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 200px;

    position: relative;
    z-index: 1;

    background: transparent;
}

.catalog-item-action .action-link{
    margin-top: 15px;

    font-family: "Opensans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    opacity: 0.5;
}

.catalog-item-action .action-link:hover,
.catalog-item-action .action-link:focus{
    opacity: 1;
    outline: none;
}

.catalog-item-action .action-link:active{
    opacity: 0.2;
}

.paginator{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 760px;
    height: 70px;
    /* padding-left: 30px;
    padding-right: 30px; */
    margin-top: 40px;
    margin-left: 40px;

    position: relative;
    z-index: 3;

    background-color: #ebebeb;
}

.paginator a{
    height: 70px;
    width: 125px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    line-height: 70px;
}

.paginator-list{
    list-style: none;
    width: 90px;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.paginator-list .paginator-item{
    opacity: 0.3;
    background: transparent;
}

.paginator-list .paginator-item:hover,
.paginator-list .paginator-item:focus{
    opacity: 0.6;
    background: transparent;
}

.paginator-list .paginator-item:active{
    opacity: 1;
}

.paginator-list .paginator-item-current{
    opacity: 1;
    cursor: default;
}

.paginator a:hover,
.paginator a:focus{
    background-color: #d9d9d9;
    outline: none;
}

.paginator a:active{
    color: #979797;
}

/* FOOTER ========================================================*/

.all-footer{
    background-color: #464646;
}

.footer-center{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    padding: 65px 20px 0 20px;
    margin: 0 auto;
    background-color: #464646;
}

.footer-logo{
    color: #ffc600;
}

.user-name-footer a,
.user-action-footer a,
.compare-link-footer,
.cart-link-footer{
    color: #fff;
}

.login-navigation-list-footer::before{
    background-image: url("../img/user-yellow.png");
    left: -25px;
}

.compare-link-footer::before{
    background-image: url("../img/compare-yellow.png");
}

.cart-link-footer::before{
    background-image: url("../img/cart-yellow.png");
}

.footer-user-block{
    width: 480px;
}

.footer-top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-bottom: 40px;
}

.seller-info-item .footer-seller-info{
    color: #fff;
}

.footer-user-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 0;

    max-width: 480px;
}

.login-navigation-list-footer{
    
    -webkit-margin-before: 0;
    
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    padding-right: 20px;
    margin-left: 16px;

    /* box-sizing: border-box;
    max-width: 225px; */
}

.footer-middle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
}

.footer-contact-info{
    font-family: "Opensans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;

    display: block;
}

.footer-contact-info-address{
    width: 220px;
}

.footer-contact-info-telephone{
    width: 175px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.seller-info-list-footer{
    width: 420px;
    margin-right: 55px;
}

.footer-bottom{
    margin-top: 60px;
    padding-bottom: 60px;
    margin-left: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    position: relative;
}

.footer-bottom::before{
    content: "";
    position: absolute;
    top: 13px;
    left: -500px;
    background-color: #ffc600;

    height: 7px;
    width: 80px;
}

.footer-socials-list{
    list-style: none;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 140px;
}

.footer-socials-item a{
    opacity: 0.3;
}

.footer-socials-item a:hover,
.footer-socials-item a:focus,
.creator-icon:hover,
.creator-icon:focus{
    outline: none;
    opacity: 0.6;
}

.footer-socials-item a:active{
    opacity: 0.1;
}

.creator-icon:active{
    opacity: 0.6;
}

/* MODAL================================ */

.modal{
    -webkit-box-shadow: 0px 19px 115px -30px #000;
            box-shadow: 0px 19px 115px -30px #000;
    position: fixed;
    z-index: 2;
    display: none;
}



.modal-write-us{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 950px;
    height: 555px;
    padding: 100px 0 85px 100px;

    /* position: fixed; */
    left: 50%;
    top: 50%;
    margin-left: -475px;
    margin-top: -277.5px;
    z-index: 6;

    background-color: #fff;
}

.feedback-form div{
    width: 760px;
    margin-bottom: 35px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.feedback-item{
    width: 360px;

    -webkit-margin-before: 0;

            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}

.feedback-item input{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    width: 360px;
    height: 50px;
    margin-top: 8px;

    padding: 16px 20px;
}

.feedback-item input::-webkit-input-placeholder,
.feedback-textarea textarea::-webkit-input-placeholder{
    font-family: "Opensans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #bfbfbf;
}

.feedback-item input:-ms-input-placeholder,
.feedback-textarea textarea:-ms-input-placeholder{
    font-family: "Opensans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #bfbfbf;
}

.feedback-item input::-ms-input-placeholder,
.feedback-textarea textarea::-ms-input-placeholder{
    font-family: "Opensans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #bfbfbf;
}

.feedback-item input::placeholder,
.feedback-textarea textarea::placeholder{
    font-family: "Opensans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #bfbfbf;
}

.feedback-item input,
.feedback-textarea textarea{
    font-family: "Opensans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000;   
}

.feedback-textarea{
    width: 760px;
}

.feedback-textarea textarea{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 760px;
    height: 155px;
    margin-top: 8px;
    margin-bottom: 50px;
    padding: 20px;
}

.feedback-item input:invalid,
.feedback-textarea textarea:invalid{
    background-color: #f6dada;
}


.feedback-item input,
.feedback-textarea textarea,
.feedback-item input:placeholder-shown,
.feedback-textarea textarea:placeholder-shown{
    border: none;
    background-color: #f2f2f2;
}

.feedback-item input:hover,
.feedback-textarea textarea:hover{
    background-color: #ebebeb;
}

.feedback-item input:focus,
.feedback-textarea textarea:focus{
    background-color: #fff;
    border: 3px solid #f7e296;
    outline: none;
}

.modal-map{
    width: 960px;
    height: 560px;

    left: 50%;
    top: 50%;
    margin-left: -480px;
    margin-top: -280px;
}

.modal-map p{
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}

.modal-map img{
    width: 100%;
}

.modal-map iframe{
    position: absolute;
    top: 0;
    left: 0;
    border: none;

    z-index: 7;
}


.modal-close{
    width: 55px;
    height: 55px;

    font-size: 0;

    cursor: pointer;

    border: 2px solid #fff;
    border-radius: 50%;

    background-color: #f7e296;

    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
}

.modal-close::before,
.modal-close::after{
    content: "";

    height: 30px;
    width: 3px;

    background-color: #fff;

    position: absolute;
    left: 24.5px;
    top: 11.5px;
}

.modal-close:hover,
.modal-close:focus{
    outline: none;
    background-color: #f0c52e
}

.modal-close:active{
    background-color: #faedc0;
}

.modal-close::before{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-close::after{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}


@-webkit-keyframes bounce {
    0%{   -webkit-transform: translateY(-2000px);   transform: translateY(-2000px);}
    70%{  -webkit-transform: translateY(30px);  transform: translateY(30px);}
    90%{  -webkit-transform: translateY(-10px);  transform: translateY(-10px);}
    100%{ -webkit-transform: translateY(0); transform: translateY(0);}
}


@keyframes bounce {
    0%{   -webkit-transform: translateY(-2000px);   transform: translateY(-2000px);}
    70%{  -webkit-transform: translateY(30px);  transform: translateY(30px);}
    90%{  -webkit-transform: translateY(-10px);  transform: translateY(-10px);}
    100%{ -webkit-transform: translateY(0); transform: translateY(0);}
}

@-webkit-keyframes shake {
    0%,
    100%{-webkit-transform: translateX(0);transform: translateX(0);}

    10%,
    30%,
    50%,
    70%,
    90%{-webkit-transform: translateX(-10px);transform: translateX(-10px);}

    20%,
    40%,
    60%,
    80%{-webkit-transform: translateX(10px);transform: translateX(10px);}
}

@keyframes shake {
    0%,
    100%{-webkit-transform: translateX(0);transform: translateX(0);}

    10%,
    30%,
    50%,
    70%,
    90%{-webkit-transform: translateX(-10px);transform: translateX(-10px);}

    20%,
    40%,
    60%,
    80%{-webkit-transform: translateX(10px);transform: translateX(10px);}
}



.modal-show{
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}

.modal-error{
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}
/* ==============================MODAL */